@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-body-family: Archivo, serif;
    --font-body-style: normal;
    --font-body-weight: 500;
    --font-body-weight-bold: 800;
    --gradient-background: #121212;
    --color-foreground: 255, 255, 255;
    --color-background-contrast: 146, 146, 146;
    --color-shadow: 18, 18, 18;
    --color-button: 255, 255, 255;
    --font-body-scale: 1.0;
    --color-foreground-secondary: 18, 18, 18;
    --font-heading-scale: 1.0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}
body{
    font-family: "Poppins", sans-serif;}


.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: -2rem;
   
}
.about-content .container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.about-content .container h1{
    display: flex;
    justify-content: flex-start;
    font-family: Montserrat, sans-serif;
    font-size: calc(var(--font-heading-scale)* 2.5rem);
    color: var(--color-foreground-secondary);
}
.about-content .container p{
    width: 47rem;
    margin-top: 1.3rem;
    font-size: 1rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: Archivo, serif;
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}
.about-content .container p span{
font-weight: 800;
color: var(--color-foreground-secondary);

}
@media only screen and (max-width: 600px) {
    .about-content{
        margin-top: 0rem;
      /*  background-color: #04AA6D;*/
    }
    .about-content .container{
        width: 50%;
    }
    .about-content .container h1{
        width: 12rem;
       /* background-color: #121212;*/
        font-size: calc(var(--font-heading-scale)* 2rem);
    }
    .about-content .container p{
        width: 22rem;
      
        font-size: 1rem;
    }
    
}
@media only screen and (min-width: 600px){
    .about-content{
        margin-top: 0rem;
       /* background-color: #ccc;*/
    } 
}

/*contact form*/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    display: flex;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
   float: left;
  }
  
  /* Style the container */
  .contact-container {
   
    display: flex;
    flex-direction: column;
    justify-content: center;

margin-left: 2rem;
    border-radius: 5px;
  /*  background-color: #f2f2f2;*/
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  @media only screen and (min-width: 600px){
    .contact-container{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        margin-right: 8rem;
        margin-left: 2rem;
    }
    input[type=submit]{
        margin-left: 20rem;
    }
  }
  @media only screen and (min-width: 1200px){
    .contact-container{
        width: 60rem;
        margin-left: 8rem;
      /*  background-color: aqua;*/
    }
  }
